        <%= link_to drone_path(drone), class: "text-decoration-none col-12" do %>
        <div class="">
          <div class="d-flex bg-light p-3 my-4 text-dark hover-card rounded-lg">
             <div class="mr-3">
                <% if drone.photo.attached? %>
                    <%= cl_image_tag drone.photo.key, height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                 <% else %>
                 <%= cl_image_tag 'g8c8dewmyqqabmgffjsk1xbcnlcy', height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                <% end %>
              </div>

              <div class="cards_drone">
                <h3 class="h2"><%= drone.model %></h3>
                 <ul class="list-unstyled list-inline">
                   <li class="list-inline-item"><i class="fas fa-clock text-primary mr-2">   </i><%= drone.autonomy %> min </li>
                   <li class="list-inline-item"><i class="fas fa-location-arrow text-primary mr-2"></i> <%= drone.maximum_distance %> km </li>
                   <li class="list-inline-item"><i class="fas fa-weight-hanging text-primary mr-2">  </i><%= drone.carry_capacity %> kg</li>
                 </ul>

                 <p><i class="fas fa-map-marker-alt text-primary mr-2"></i> <%= drone.address %></p>
                 <p class="h3 list-inline-item"></p>


                <% if drone.user.photo.attached? %>

                  <p><%= cl_image_tag drone.user.photo.key, class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% else %>

                  <p><%= image_tag  "https://kitt.lewagon.com/placeholder/users/random", class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% end %>
              </div>
          </div>
        </div>

          <% end %>
