<div class="container">
  <h1>Liste des demandes de livraison en tant que loueur</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro de commande</th>
      <th scope="col">Adresse de livraison</th>
      <th scope="col">Propriétaire du drone</th>
      <th scope="col">Date de livraison</th>
      <th scope="col">Heure de livraison</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @deliveries.each do |delivery| %>
    <% if delivery.user == current_user %>
  <tbody>
    <tr>
        <th scope="row"># <%= delivery.id %></th>
        <td><%= delivery.delivery_address %></td>
        <td><%= delivery.user.name %></td>
        <td><%= delivery.delivery_time %></td>
        <td><%= delivery.description %></td>
        <td><%= delivery.status %></td>
        <% if delivery.status == "En attente" %>
          <td><button class="btn btn-danger"><%= link_to "En attente de validation" %></button></td>
        <% else %>
          <td><button type="button" class="btn btn-success"><%= link_to "Laissez un commentaire", new_drone_delivery_review_path(delivery.id, delivery.drone_id) %></button></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
  
<h1>Liste des demandes de livraison en tant que propriétaire</h1>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro de commande</th>
      <th scope="col">Adresse de livraison</th>
      <th scope="col">Propriétaire du drone</th>
      <th scope="col">Date de livraison</th>
      <th scope="col">Heure de livraison</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @deliveries.each do |delivery| %>
    <% if delivery.drone.user == current_user %>
  <tbody>
    <tr>
        <th scope="row"># <%= delivery.id %></th>
        <td><%= delivery.delivery_address %></td>
        <td><%= delivery.user.name %></td>
        <td><%= delivery.delivery_time %></td>
        <td><%= delivery.description %></td>
        <td><%= delivery.status %></td>
        <% if delivery.status == "En attente" %>
          <td><button class="btn btn-danger"><%= link_to "Validez la location" %></button></td>
        <% else %>
          <td><button type="button" class="btn btn-success"><%= link_to "Laissez un commentaire", new_drone_delivery_review_path(delivery.id, delivery.drone_id) %></button></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
</div>