<div class="container">
  <h1>Mes réservations </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro de commande</th>
      <th scope="col">Adresse de livraison</th>
      <th scope="col">Propriétaire du drone</th>
      <th scope="col">Date de livraison</th>
      <th scope="col">Description de la livraison</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @deliveries.each do |delivery| %>
    <% if delivery.user == current_user %>
  <tbody>
    <tr>
        <th scope="row"># <%= delivery.id %></th>
        <td><%= delivery.delivery_address %></td>
        <td><%= delivery.drone.user.name %></td>
        <td><%= delivery.delivery_time.strftime("%d/%m/%Y")   %></td>
        <td><%= delivery.description %></td>
        <td><%= delivery.status %></td>
        <% if delivery.status == "En attente" %>
          <td><button class="btn btn-warning"><%= link_to "En attente de validation" %></button></td>
        <% else %>
          <td><button type="button" class="btn btn-success"><%= link_to "Laissez un commentaire", new_drone_delivery_review_path(delivery.drone_id,delivery.id) %></button></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>

<h1>Mes demandes de livraison</h1>

  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro de commande</th>
      <th scope="col">Adresse de livraison</th>
      <th scope="col">Propriétaire du drone</th>
      <th scope="col">Date de livraison</th>
      <th scope="col">Description de la livraison</th>
      <th scope="col">Statut</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <% @deliveries.each do |delivery| %>
    <% if delivery.drone.user == current_user %>
  <tbody>
    <tr>
        <th scope="row"># <%= delivery.id %></th>
        <td><%= delivery.delivery_address %></td>
        <td><%= delivery.user.name %></td>
        <td><%= delivery.delivery_time.strftime("%d/%m/%Y")   %></td>
        <td><%= delivery.description %></td>
        <td><%= delivery.status %></td>
        <% if delivery.status == "En attente" %>
          <td><button class="btn btn-warning"><%= link_to "Validez la location", delivery_path(delivery), method: :patch %></button></td>
        <% else %>
          <td><button type="button" class="btn btn-success"><%= link_to "Laissez un commentaire", new_drone_delivery_review_path( delivery.drone_id, delivery.id) %></button></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  </tbody>
</table>
</div>
