<section>
  <div class= "container">
    <div class="row justify-content-center">
        <div class = "profile col-6">   
          <div class="profile_content justify-content-center">
            <div class="p-4">
              <div class="mb-3">
                <% if @user.photo.attached? %>
                 <%= cl_image_tag @user.photo.key, class: "mx-auto d-block rounded-circle img-fluid mb-3" %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "mx-auto d-block rounded-circle img-fluid mb-3" %>
                <% end %>
                <h2><%= @user.name %></h2>
              </div>
              <ul>
                <li class="mb-3"> <span>Ma bio :</span><br> <%= @user.presentation %> </li>
                <li><span><i class="fas fa-map-marker-alt text-primary mr-2"></i></span> <%= @user.address %></li>
                <li><span><i class="fas fa-phone-alt text-primary mr-2"></i></span> <%= @user.phone_number %></li>
                <hr>
              <% if current_user == @user %>
              <%= link_to profile_edit_path , class: "btn btn-primary" do %>
                  <i class="far fa-edit"></i> Modifier
              <% end %>
            <% end %>  
              </ul>
            </div>
          </div>
        </div>
</section>

<section>
  <div class="col-6 mx-auto">
    <h2> Mes drones </h2>
        <% @user.drones.all.each do |drone| %>
            <%= render "shared/drone_card", drone: drone %>
        <% end %>
        </div>
      </div>
  </div>
</section>
      

