<h1>Ajouter un drone</h1>

<%= simple_form_for(@drone) do |f| %>
  <%= f.input :model  %>
  <%= f.input :autonomy  %>
  <%= f.input :maximum_distance  %>
  <%= f.input :carry_capacity  %>
  <%= f.input :delivery_price  %>
  <%= f.input :address  %>
   <%= f.submit %>
<% end %>
