<section class="position-relative overflow-hidden p-3 p-md-5 m-0 text-center bg-light banner-hero text-white">
      <div class="col-md-5 p-lg-5 mx-auto">
        <h1>  Drone <b>your cow</b></h1>
        <p class="lead font-weight-normal">Cow delivery wherever you want !</p>
        <%= form_tag(drones_path, method: :get) do %>
          <%= search_field_tag "address" %>
          <%= submit_tag %>
        <% end %>
      </div>
      <div class="product-device d-none d-md-block"></div>
      <div class="product-device product-device-2 d-none d-md-block"></div>
</section>

<section id="drones">
  <div class="main-container padding-20">
    <div class="row width-40">
      <% @drones.each do |drone| %>

        <%= link_to drone_path(drone), class: "text-decoration-none" do %>
        <div class="col-sm mx-auto">
          <div class="d-flex bg-light p-3 my-4 text-dark hover-card ">
             <div class="col-6">
                <% if drone.photo.attached? %>
                    <%= cl_image_tag drone.photo.key, height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                 <% else %>
                 <%= cl_image_tag 'g8c8dewmyqqabmgffjsk1xbcnlcy', height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                <% end %>
              </div>

              <div class="cards_drone">
                <h3 class="h2"><%= drone.model %></h3>
                 <ul class="list-unstyled list-inline">
                   <li class="list-inline-item"><%= drone.autonomy %> min -</li>
                   <li class="list-inline-item"><%= drone.maximum_distance %> km -</li>
                   <li class="list-inline-item"><%= drone.carry_capacity %> kg</li>
                   <li class="list-inline-item"><%= drone.address %></li>
                 </ul>
                 <p class="h3 list-inline-item"><%= drone.delivery_price %> €</p>

                <% if current_user.photo.attached? %>

                  <p><%= cl_image_tag current_user.photo.key, class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% else %>

                  <p><%= image_tag  "https://kitt.lewagon.com/placeholder/users/random", class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% end %>
              </div>
          </div>
        </div>

          <% end %>
      <% end %>
     </div>
     <div id="map"
        style="width: 40%; height: 1000px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</section>
