<section class="position-relative overflow-hidden p-3 p-md-5 m-0 bg-light banner-hero ">
      <div class="col-md-8 mx-auto">
        <div class="text-center text-white">
        <h1 class="">  Drone <b>your cow</b></h1>
        <p class="lead font-weight-normal">Cow delivery wherever you want !</p>
        </div>
        <%= form_tag(drones_path, {method: :get, style: 'display:flex'}) do %>
          <%= search_field_tag "address" %>
          <%= submit_tag 'chercher', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="product-device d-none d-md-block"></div>
      <div class="product-device product-device-2 d-none d-md-block"></div>
</section>

<section id="drones">
  <div class="container-fluid">
    <div class="row">
    <div class="col-6">
    <div class="row">
      <% @drones.each do |drone| %>
        <%= link_to drone_path(drone), class: "text-decoration-none col-12" do %>
        <div class="">
          <div class="d-flex bg-light p-3 my-4 text-dark hover-card rounded-lg">
             <div class="mr-3">
                <% if drone.photo.attached? %>
                    <%= cl_image_tag drone.photo.key, height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                 <% else %>
                 <%= cl_image_tag 'g8c8dewmyqqabmgffjsk1xbcnlcy', height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                <% end %>
              </div>

              <div class="cards_drone">
                <h3 class="h2"><%= drone.model %></h3>
                 <ul class="list-unstyled list-inline">
                   <li class="list-inline-item"><i class="fas fa-clock text-primary mr-2">   </i><%= drone.autonomy %> min </li>
                   <li class="list-inline-item"><i class="fas fa-location-arrow text-primary mr-2"></i> <%= drone.maximum_distance %> km </li>
                   <li class="list-inline-item"><i class="fas fa-weight-hanging text-primary mr-2">  </i><%= drone.carry_capacity %> kg</li>
                 </ul>

                 <p><i class="fas fa-map-marker-alt text-primary mr-2"></i> <%= drone.address %></p>
                 <p class="h3 list-inline-item"></p>


                <% if drone.user.photo.attached? %>

                  <p><%= cl_image_tag drone.user.photo.key, class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% else %>

                  <p><%= image_tag  "https://kitt.lewagon.com/placeholder/users/random", class: "avatar mr-2" %> Drone proposé par : <%= drone.user.name %></p>
                <% end %>
              </div>
          </div>
        </div>

          <% end %>
      <% end %>
      </div>
     </div>

       <div class="col-6">
         <div id="map"
            style="width: 100%; height: 1000px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>

    </div>
  </div>
</section>
