<section id="drones">
  <div class="container">
    <div>
      <% @drones.each do |drone| %>

        <%= link_to drone_path(drone), class: "text-decoration-none" do %>
        <div class="col-6 mx-auto">
          <div class="row d-flex align-items-center bg-light p-3 my-4 text-dark hover-card ">
             <div class="col-4 p-0 m-0">
                <% if drone.photo.attached? %>
                    <%= cl_image_tag drone.photo.key, height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                 <% else %>
                 <%= cl_image_tag 'g8c8dewmyqqabmgffjsk1xbcnlcy', height: 200, width:200, crop: :fill, class: "rounded-lg img-fluid" %>
                <% end %>
              </div>

              <div class="col-8">
                <h3 class="h2"><%= drone.model %></h3>
                 <ul class="list-unstyled list-inline">
                   <li class="list-inline-item"><%= drone.autonomy %> min -</li>
                   <li class="list-inline-item"><%= drone.maximum_distance %> km -</li>
                   <li class="list-inline-item"><%= drone.carry_capacity %> kg</li>
                 </ul>
                 <p class="h3 list-inline-item"><%= drone.delivery_price %> €</p>
              </div>
          </div>
        </div>

          <% end %>
      <% end %>
     </div>
  </div>
</section>
