
<div class="container p-5">
  <div class="row">
    <div class="col-6 mx-auto">
        <h1 class="mb-5">Ajouter un drone</h1>
        <%= simple_form_for(@drone) do |f| %>
          <%= f.input :model , label: "Modèle du drone"  %>
          <%= f.input :autonomy , label: "Autonomie"  %>
          <%= f.input :maximum_distance , label: "Portée du drone"  %>
          <%= f.input :carry_capacity , label: "Poids maximum"  %>
          <%= f.input :delivery_price , label: "Prix de la livraison"  %>
          <%= f.input :address , label: "Addresse"  %>
          <%= f.input :photo, as: :file ,input_html: { multiple: true , class: 'd-none hidden', id: 'photo-input'} , label_html: { class: 'upload-photo'}, label: '📷 Ajouter une photo' %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
          <br>
          <%= f.submit 'Ajouter un drone' , :class => "btn btn-primary"  %>
        <% end %>
    </div>
  </div>
</div>
