<div class="container">

  <h1><%= @drone.model %></h1>
  <div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @drone.photo.attached? %>
            <%= cl_image_tag @drone.photo.key, height: 300, width:400, crop: :fill %>
         <% else %>
         <%= cl_image_tag 'g8c8dewmyqqabmgffjsk1xbcnlcy', height: 300, width:300, crop: :fill  %>
        <% end %>
      </div>
    </div>
    </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Caractéristiques du drone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Model</th>
        <td><%=@drone.model%></td>
      </tr>
      <tr>
        <th scope="row">Autonomie</th>
        <td><%=@drone.autonomy%> h</td>
      </tr>
      <tr>
        <th scope="row">Portée</th>
        <td><%=@drone.maximum_distance%> km</td>
      </tr>
      <tr>
        <th scope="row">Capacité</th>
        <td><%=@drone.carry_capacity%> kg</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>


<%= simple_form_for [@drone, @delivery] do |f| %>
<div class="container">
 <div class="row">
  <div class='col-sm-6 col-sm-offset-3 module-resa'>
  <%= image_tag  "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
 <p> Drone proposé par <%= @drone.user.name %></p>
 <h4> Réservation d'une livraison </h4>
 <p>Adresse de départ <%=current_user.address%></p>
   <div class="form-group">
    <%= f.input :delivery_address %>
    <div class='input-group date' id='datetimepicker'>
    <%= f.input :delivery_time, label: false, placeholder: "Sélectionnez la date et l'heure", class: "form-control" %>
     <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
     </div>
    </div>
   <div class="form-group">
    <p>Prix : <%= @drone.delivery_price %>€</p>
   <%= f.submit "C'est parti", class: "btn btn-primary" %>
   </div>
  </div>
 </div>
</div>
<% end %>

